<html>
    <head>
        <title>Receive3</title>
    </head>

    <body>
        ID : <%=id%> <br>
        비밀번호 : <%=password%> <br>
        이름 : <%=name%> <br>
        이메일 : <%=email%> <br>
        성별 : <%=gender%> <br>
        생년월일 <%=year%>년 <%=month%>월 <%=day%>일  <br>
    </body>
</html>

<!-- 터미널에서 node index.js를 한 다음 
    입력칸에 정보를 입력하고 전송을 누르면 localhost:8080/receive가 뜨면서 위의 값이 나온다. -->